.footer_container {
    width: 100%;
    padding: 2vh 0;
    text-align: center;
    color: #2D2727;
    font-weight: bolder;
    font-size: 2vh;
    background: linear-gradient(
    45deg,
    #FF5403,
    #2D2727
    );
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES (Tablets)) =============*/

@media screen and (max-width: 1024px){

}


/* ============= MEDIA QUERIES (SMALL DEVICES (Phones)) =============*/

@media screen and (max-width: 600px) {
    .footer_container {
        padding: 4.5vh 0;
    }
} 